<mat-tab-group mat-align-tabs="center" color="warn">
  <mat-tab label="Lista" >
    <div class="tabs-seccion" style="height: 450px !important;">
      <div class="search-div" >
        <mat-form-field class="search-form-field" >
          <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilterCliente()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClearCliente()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8" >
        <mat-table #ClienteSort="matSort" [dataSource]="listDataCliente"  matSort id="table">
            <ng-container matColumnDef="cliente">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="cursor: pointer;font-size: 12px;"
              > {{element.nombres}} {{element.apellidos}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="tipo_documento">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="justify-content: center;cursor: pointer;font-size: 12px;"
              > {{element.tipo_documento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="numero_documento">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Nro. Documento </mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="cursor: pointer;font-size: 12px;"
              > {{element.numero_documento}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="direccion">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="cursor: pointer;font-size: 12px;"
              > {{element.direccion}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="telefono">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef mat-sort-header> Telefono </mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="justify-content: center;cursor: pointer;font-size: 12px;"
              > {{element.telefono}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="celular">
              <mat-header-cell style="justify-content: center;" *matHeaderCellDef mat-sort-header> Celular </mat-header-cell>
              <mat-cell *matCellDef="let element"
              style="cursor: pointer;justify-content: center !important;font-size: 12px;"
              >{{element.celular}}</mat-cell>
            </ng-container>

            <!-- Name Column [class.table-active]="element == categoriaSeleccion"-->
            <ng-container matColumnDef="opciones">
              <mat-header-cell *matHeaderCellDef style="justify-content: center;"> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let row" style="justify-content: center;">
                <button mat-icon-button color="warn" (click)="deleteCliente(row)">
                    <mat-icon>delete_outline</mat-icon>
                  </button>
                  <button mat-icon-button  (click)="checkCliente(row)">
                    <mat-icon>check_circle</mat-icon>
                  </button>
              </mat-cell>
            </ng-container>
          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Cargando data...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              No Data.
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="columnaCliente"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnaCliente;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listDataCliente!=null}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listDataCliente!=null && listDataCliente.data.length==0)}"></mat-footer-row>

        </mat-table>
      </div>
    </div>
    <mat-paginator class="mat-table-page" #MatPaginatorCliente="matPaginator" matPaginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons ></mat-paginator>

  </mat-tab>
  <mat-tab label="Registrar">
    <div class="tabs-seccion" style="height: 450px !important;">
      <div class="seccion-parts">
        <form #clienteForm ="ngForm" (ngSubmit)="addCliente(clienteForm)" >
          <input type="hidden" name="id_clientes" #id_clientes="ngModel" [(ngModel)]="clienteSeleccion.id_clientes" name="id_clientes">
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width: 50%;">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" #nombres="ngModel" [(ngModel)]="clienteSeleccion.nombres" name="nombres" autocomplete="off">
          </mat-form-field>
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width: 45%;margin-left: 20px;">
            <mat-label>Apellidos</mat-label>
            <input matInput type="text" #apellidos="ngModel" [(ngModel)]="clienteSeleccion.apellidos" name="apellidos" autocomplete="off">
          </mat-form-field>
          <br>
          <mat-form-field  style="width: 100%;" color="warn">
            <mat-label>Documento</mat-label>
            <mat-select name="tipo_documento" [(ngModel)]="clienteSeleccion.tipo_documento">
              <mat-option  value="D.N.I">
                DNI
              </mat-option>
              <mat-option  value="R.U.C">
                RUC
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width: 100%;">
            <mat-label>Nro de documento</mat-label>
            <input matInput type="text" #numero_documento="ngModel" [(ngModel)]="clienteSeleccion.numero_documento" name="numero_documento" autocomplete="off">
          </mat-form-field>
          <br>
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width: 100%;">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" #direccion="ngModel" [(ngModel)]="clienteSeleccion.direccion" name="direccion" autocomplete="off">
          </mat-form-field>
          <br>
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width: 45%;">
            <mat-label>Telefono</mat-label>
            <input matInput type="text" #telefono="ngModel" [(ngModel)]="clienteSeleccion.telefono" name="telefono" autocomplete="off">
          </mat-form-field>
          <mat-form-field color="warn" class="example-form-field"
          style="margin-top: 10px;width:50%;margin-left: 20px;">
            <mat-label>Celular</mat-label>
            <input matInput type="text" #celular="ngModel" [(ngModel)]="clienteSeleccion.celular" name="celular" autocomplete="off">
          </mat-form-field>
          <button type="submit" mat-raised-button >Registrar</button>
          <button type="button" style="margin-left: 10px;"
          (click)="cerrarDialogo()"
          color="warn" mat-raised-button>
            Cerrar
          </button>
        </form>

      </div>
    </div>
  </mat-tab>
</mat-tab-group>
