<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2 style="margin-top: 90px;">¡Ups! No se pudo encontrar esta página</h2>
			<p style="margin-top: 20px;">LO SENTIMOS, PERO LA PÁGINA QUE ESTÁ BUSCANDO NO EXISTE, HA SIDO ELIMINADA. NOMBRE CAMBIADO O NO ESTÁ DISPONIBLE TEMPORALMENTE</p>
			<a style="cursor: pointer;" (click)="irPrincipal()">IR A LA PÁGINA DE INICIO</a>
		</div>
	</div>

</body>

</html>
