<div class="container">
  <div class="mycontent">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" id="id_list" data-toggle="tab" href="#list">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="id_new" data-toggle="tab" href="#new"><i class="fas fa-plus-circle"></i></a>
        </li>

      </ul>
      <!--
        <table class="row-border hover" id="tabla"
            datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
            <thead>
              <tr style="text-align: center;">
                <th>Rol</th>
                <th>Datos</th>
                <th>Usuario</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usu of usuarios"
              [class.table-active]="usu == usuariosSeleccionado"
              style="text-align: center;"
              >

                <td style="cursor: pointer;" (click)="editUsuario(usu)">{{ usu.nameroles }}</td>
                <td style="cursor: pointer;" (click)="editUsuario(usu)">{{usu.nombre_completo}} {{usu.apellido_paterno}} {{usu.apellido_materno}}</td>
                <td style="cursor: pointer;" (click)="editUsuario(usu)">{{usu.email}}</td>
                <td>
                  <a style="cursor: pointer;" id="isDelete" (click)="deleteUsuario(usu._id, usuariosForm)">
                    <i class="material-icons">delete</i>
                  </a>
                </td>
              </tr>
            </tbody>
            <tfoot >
              <tr style="text-align: center;">
                <th>Rol</th>
                <th>Datos</th>
                <th>Usuario</th>
                <th>Acciones</th>
              </tr>
          </tfoot>
            </table>
      -->
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="list">
          <div class="container-table" style="margin-top: 20px !important;" id="list">

          </div>
        </div>
        <div class="tab-pane fade" id="new">
          <div class="tab-pane fade active show" id="new">
            <div class="container-table" style="margin-top: 20px !important;" id="list ">
              <form #usuariosForm ="ngForm" (ngSubmit)="addUsuarios(usuariosForm)" autocomplete="off">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="usuariosSeleccionado._id">

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="nombre_completo">Nombre completo</label>
                     <input type="text" class="form-control" name="nombre_completo" #nombre_completo="ngModel"
                     [(ngModel)]="usuariosSeleccionado.nombre_completo" placeholder="ej Davis Keiner">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="apellido_paterno">Apellido Paterno</label>
                     <input type="text" class="form-control" name="apellido_paterno" #apellido_paterno="ngModel"
                     [(ngModel)]="usuariosSeleccionado.apellido_paterno" placeholder="ej Pérez">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="apellido_materno">Apellido Materno</label>
                     <input type="text" class="form-control"  name="apellido_materno" #apellido_materno="ngModel"
                     [(ngModel)]="usuariosSeleccionado.apellido_materno" placeholder="ej Guzmán">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="roles">Rol</label>
                     <select id="opciones"
                     name="roles"  class="form-control"
                     [(ngModel)]="usuariosSeleccionado.roles">
                       <option value="" disabled selected>[ Seleccione una opción ]</option>
                       <option *ngFor="let rol of roles" [value]="rol._id">{{rol.nombre}}</option>
                     </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="email">Correo</label> <span> (este será su usuario)</span>
                     <input type="email" class="form-control" name="email"  #email="ngModel"
                     [(ngModel)]="usuariosSeleccionado.email" aria-describedby="emailHelp" placeholder="tucorre@gmail.com">
                     <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="contrasenia">Contraseña</label>
                     <input type="password" class="form-control" id="contrasenia"
                      name="contrasenia" placeholder="Contraseña" #contrasenia="ngModel" [(ngModel)]="usuariosSeleccionado.contrasenia" >
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button style="margin-left: 10px;" type="button" class="btn btn-default" (click)="resetForm(usuariosForm)">Limpiar</button>
              </form>

            </div>
          </div>
        </div>
      </div>

      <!--
<div class="container-table" style="margin-top: 20px !important;">
        <table class="row-border hover" id="tabla"
         datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" >
          <thead>
            <tr style="text-align: center;">
              <th>Rol</th>
              <th>Datos</th>
              <th>Usuario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usu of usuarios"
            [class.table-active]="usu == usuariosSeleccionado"
            style="cursor: pointer;text-align: center;">

              <td (click)="editUsuario(usu)">{{ usu.nameroles }}</td>
              <td (click)="editUsuario(usu)">{{usu.nombre_completo}} {{usu.apellido_paterno}} {{usu.apellido_materno}}</td>
              <td (click)="editUsuario(usu)">{{usu.email}}</td>
              <td>
                <a id="isDelete" (click)="deleteUsuario(usu._id, usuariosForm)">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
          <tfoot >
            <tr style="text-align: center;">
              <th>Rol</th>
              <th>Datos</th>
              <th>Usuario</th>
              <th>Acciones</th>
            </tr>
        </tfoot>
        </table>
       </div>

      -->


  </div>
</div>
