.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.mat-drawer{
  width: 240px;
}


/**SIDEBAR*/
.cj-sidebar{
  margin-top: 30px;
}
.cj-sidebar li{
  list-style: none;
  margin-bottom: 15px;
}
.cj-li a{
  text-transform: uppercase;
  font-size: 11px;
  color: #fff !important;
}
.cj-ul a{
  font-size: 13px;
  text-decoration: none;
}
ul, li{
  padding: 0px;
  margin: 0px;
}
.pl15{
  padding-left: 15px !important;
}
.pl30{
  display: block;
  padding: 4px;
  padding-left: 30px;
  line-height: 1.8;
}
.activo{
  background: #424242;
  font-weight: bold;

  letter-spacing: 0.5px;
}
.cj-ul:hover{
  background: #424242;

}
.activo a {
  color: hsla(0,0%,100%,.65);
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
}
.mat-drawer{
  background: #303030;
}
a{
  color: hsla(0,0%,100%,.65);
}
.contenedor{
  overflow: hidden;
  height: 100%;
}
.contenedor-paginas{
  width: 100%;
  height: 80%;
}

