<div class="contenedor">
  <mat-toolbar style="height: 10%;" color="primary">

    <a mat-button routerLink="/"> Kemay Technology</a>
    <a routerLink="/productos" mat-button> Productos / Servicios</a>
    <a routerLink="/inventario" mat-button> Inventario</a>
    <a routerLink="/cotizar" mat-button> Cotizar</a>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button (click)="salir()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar>
<!--ASIDE ANGULAR MATERIAL-->
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <div class="cj-sidebar">
        <ng-container *ngIf="check(); else listaPaginas">
        <li class="cj-li"><a class="pl15">Casa</a></li>
        <ul>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/usuarios" >Usuarios</a>
            </li>
        </ul>
        <li class="cj-li"><a class="pl15">Gps</a></li>
        <ul>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/clientes" >Clientes</a>
            </li>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/renovaciones" >Renovaciones</a>
            </li>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/vencidos" >Vencidos</a>
            </li>
        </ul>
        <li class="cj-li"><a class="pl15">Consultas</a></li>
        <ul>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/precios" >Precios</a>
            </li>
        </ul>

      </ng-container>
      <ng-template #listaPaginas>
        <li class="cj-li"><a class="pl15">Casa</a></li>

        <li class="cj-li"><a class="pl15">Gps</a></li>
        <ul>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/clientes" >Clientes</a>
            </li>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/renovaciones" >Renovaciones</a>
            </li>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/vencidos" >Vencidos</a>
            </li>
        </ul>
        <li class="cj-li"><a class="pl15">Consultas</a></li>
        <ul>
            <li class="cj-ul" routerLinkActive="activo">
              <a class="pl30"  routerLink="/clientes" >Precios</a>
            </li>
        </ul>
      </ng-template>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div class="contenedor-paginas">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
<!--FIN ASIDE-->

</div>



