
.footer-mymodal{
  width: 100%;
  height: 70px;
}
.footer-input{
  float: left;
  width: 45%;
  margin-left: 10px;
  height: 100%;
}
.footer-buttons{
  margin-top: 10px;
  float: left;
  width: 50%;
  height: 100%;
}
