<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #employeeForm ="ngForm" (ngSubmit)="addEmployee(employeeForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="selectedEmployee._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel"
                [(ngModel)]="selectedEmployee.name">
              </div>
              <div class="input-field col s12">
                <input type="text" name="position" #position="ngModel"
                [(ngModel)]="selectedEmployee.position">
              </div>
              <div class="input-field col s12">
                <input type="text" name="office" #office="ngModel"
                [(ngModel)]="selectedEmployee.office">
              </div>
              <div class="input-field col s12">
                <input type="text" name="salary" #salary="ngModel"
                [(ngModel)]="selectedEmployee.salary">
              </div>

              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right" style="margin-left: 5px;">Save</button>
                  <a type="button" class="btn right" (click)="resetForm(employeeForm)">Clean</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Name</th>
          <th>Position</th>
          <th>Office</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let emp of employee">
            <td>{{ emp.name }}</td>
            <td>{{ emp.position }}</td>
            <td>{{ emp.office }}</td>
            <td>
              <a (click)="editEmployee(emp)">
                <i class="material-icons">edit</i>
              </a>
              <a id="isDelete" (click)="deleteEmployee(emp._id,employeeForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

