.window-model{
  width: 100%;
  height: 500px;
}
.div-form{
  margin-left: 10px;
  float: left;
  width: 28%;
  height: 100%;
  border: 1px solid rgba(255,255,255,.12);;
}
.div-table{
  width: 70%;
  float: left;
  height: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

