
.list-tabs{
  display:none;margin-top: 10px;
}
.header_p2{
  margin-right: 20px;
  float: left;
  width: 100%;
}
.header_p1 h6{
  margin-top: 7px;
}
table {
  width: 100%;
}


/**TABS**/
.mat-tab-group{
  background: #303030 !important;
  margin-top: 10px;
}
.mat-ink-bar{
  background-color:#181818 !important
}


