<div class="fechaCantidadHistorial" style=
            "padding: 10px;
            height: 60px;
            border: 1px solid #c7c7c7;">
      <div style="width: 55%;height: auto;float: left;">
        <div class="cantidadIngresadaRetirada">Cantidad {{muestraNombreCantida}} : {{cantidadaSolicitada}}</div>
        <div class="ultimaFecha">Ultima fecha : {{UltimaFecha}}</div>
        <div class="descripcion">Motivo : {{descripcion}}</div>
      </div>
      <div style="width: 45%;height: auto;float: left;">
        <button color="warn" (click)="generarPDF()" style="float: right;margin-right: 10px;" mat-raised-button>
          Historial <mat-icon>picture_as_pdf</mat-icon>
        </button>
      </div>

</div>
<div class="footer-mymodal" style="margin-top: 10px;">
  <form #inventarioForm ="ngForm" (ngSubmit)="editarPrecio(inventarioForm)">
  <div class="footer-input" style="width: 70% !important">
    <input type="hidden" #id_inventario="ngModel" [(ngModel)]="inventarioSeleccion.id_inventario" name="id_inventario">

      <mat-form-field color="warn" class="example-form-field" style="width: 100% !important">
                <mat-label>Producto</mat-label>
                <input matInput type="text" name="nombre" #nombre="ngModel" [(ngModel)]="inventarioSeleccion.producto" autocomplete="off" disabled="true">
      </mat-form-field>
      <mat-form-field color="warn" class="example-form-field" style="width: 100px !important;">
        <mat-label>Cantidad</mat-label>
        <input matInput type="text" name="cantidad" #cantidad="ngModel" [(ngModel)]="productoSeleccion" autocomplete="off">
    </mat-form-field><br>
    <mat-form-field color="warn" class="example-form-field" style="width: 100% !important;">
      <mat-label>Motivo</mat-label>
      <input matInput type="text" name="motivo" #motivo="ngModel" [(ngModel)]="inventarioHistorialSeleccion.motivo" autocomplete="off">
  </mat-form-field>
  </div>
  <div class="footer-buttons" style="width: 100%;">
    <button type="button" style="float: left;" (click)="cerrarDialogo()"
    color="warn"
    mat-raised-button >Cerrar</button>
    <button type="submit" style="float: right;"
    color="primary"
    mat-raised-button >Actualizar</button>
  </div>
</form>
</div>
