.myfooter{
 width: 100%;
 background: #181818;
}
.footer-copyright{
  margin-top: 25px;
  text-align: center;
  color: #fff;
}
.footer-copyright a{
  color:hsla(0,0%,100%,.65);
  text-decoration: none;
}
footer{
  z-index: 1;
  position: fixed;
  height: 100%;
}
.contenedor-footer{
  height: 10%;
  width: 100%;
}
