
.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
.mat-footer-cell{
  font-style:initial;
  justify-content: left !important;
  font-weight: bold;
}
.mat-column-cantidad{
  flex: 0 0 3.5% !important;
}
.mat-column-codigo{
  flex: 0 0 5% !important;
}
.mat-column-opciones{
  flex: 0 0 4% !important;
}
.mat-column-descripcion{
  flex: 0 0 56% !important;
}
.mat-column-subtotal{
  flex: 0 0 7% !important;
}
.mat-column-precio{
  flex: 0 0 7% !important;
}
.mat-column-producto{
  flex: 0 0 13% !important;
}


