<form #clienteForm="ngForm" (ngSubmit)="abrirGenerarPDF(clienteForm)">
<div class="section">
  <div class="section-header">
    <div class="card-section border">
      <div class="title-card pd10" style="font-size: 11px;">
        DATOS DE CLIENTE:
      </div>
      <div class="body-header">

        <input type="hidden" [(ngModel)]="_id" name="id_clientes">
        <mat-form-field class="example-full-width" color="warn">
          <mat-label>Cliente</mat-label>
          <input matInput disabled value=" " [(ngModel)]="_nombrecompleto" name="nombres">
          <a type="button" class="pointer" (click)="abrirClientes()">
            <mat-icon class="search-input-section">search</mat-icon>
          </a>
        </mat-form-field>
        <table class="example-full-width" cellspacing="0"><tr>
          <td>
              <mat-form-field  color="warn" class="example-full-width">
                <mat-label>R.U.C</mat-label>
                <input disabled value=" " matInput id="ruc"  [(ngModel)]="_ruc" name="ruc">
              </mat-form-field>
            </td><td>
              <mat-form-field  color="warn" class="example-full-width lf2">
                <mat-label>D.N.I</mat-label>
                <input disabled value=" " matInput  [(ngModel)]="_dni" name="dni">
              </mat-form-field>
          </td>

        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field  color="warn" class="example-full-width">
            <mat-label>Direccón</mat-label>
            <input disabled value=" " matInput [(ngModel)]="_direccion" name="direccion">
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field  color="warn" class="example-full-width">
            <mat-label>Telefono</mat-label>
            <input disabled value=" " matInput [(ngModel)]="_telefono" name="telefono">
          </mat-form-field></td>
          <td><mat-form-field  color="warn" class="example-full-width lf2">
            <mat-label>Celular</mat-label>
            <input disabled value=" " matInput [(ngModel)]="_celular" name="celular">
          </mat-form-field></td>
        </tr></table>

      </div>
    </div>
    <div class="card-section border floatr">
      <div class="title-card pd10" style="font-size: 11px;">
        CONDICIONES GENERALES:
        <label style="margin-left:260px;">PROFORMA DE VENTA</label>
      </div>
      <div class="body-header">
        <!--<mat-hint style="margin-left: 440px;
        position: fixed;top: 110px;font-size: 11px;">KEI-0000001</mat-hint>-->
        <table class="example-full-width mtp10" cellspacing="0"><tr>
          <td><mat-form-field style="width: 90%;"  color="warn" class="example-full-width">
            <mat-label>GARANTIA</mat-label>
            <input style="font-size: 11px" matInput #garantia="ngModel" [(ngModel)]="cotizaSeleccion.garantia" name="garantia">
          </mat-form-field></td>
          <td><mat-form-field  color="warn" class="example-full-width lf2">
            <mat-label>PRECIOS</mat-label>
            <input  style="font-size: 11px" disabled value="INCLUYE IGV" matInput>
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width mtp10" cellspacing="0"><tr>
          <td><mat-form-field  color="warn" class="example-full-width">
            <mat-label>VALIDEZ OFERTA</mat-label>
            <input  style="font-size: 11px" disabled value="7 DÍAS" matInput>
          </mat-form-field></td>
        </tr></table>
        <table class="example-full-width mtp10" cellspacing="0"><tr>
          <td>
            <mat-form-field color="warn" style="width: 90%;">
              <mat-label>PLAZO ENTREGA</mat-label>
              <select matNativeControl  style="font-size: 11px" [(ngModel)]="cotizaSeleccion.entrega" name="entrega">
                <option value="1" selected>INMEDIATO</option>
                <option value="2"> PREVIA COORDINACION </option>
              </select>
            </mat-form-field>
          </td>
          <td><mat-form-field  color="warn" class="example-full-width lf2">
            <mat-label>FORMA DE PAGO</mat-label>
            <input  style="font-size: 11px" disabled value="CONTADO" matInput>
          </mat-form-field></td>
        </tr></table>
      </div>
    </div>
  </div>
  <div class="section-body border">
    <div class="card">
      <div class="title-card pd10" style="width: 1082px !important;height: 50px;">
        <button style="float: left" mat-raised-button color="primary" type="button" (click)="abrirProductos()"><mat-icon>search</mat-icon> P/S</button>
        <button style="float:right;margin-left:  20px;" mat-raised-button color="basic" type="button" (click)="refresh()"><mat-icon> layers_clear</mat-icon> LIMPIAR</button>
        <button style="margin-left: 20px;float:right" mat-raised-button color="warn" type="submit">GENERAR <mat-icon>picture_as_pdf</mat-icon></button>
      </div>
        <mat-table #table [dataSource]="listDataProducto">

          <ng-container matColumnDef="cantidad">
            <mat-header-cell  *matHeaderCellDef > CANT </mat-header-cell>
            <mat-cell *matCellDef="let element" >
               {{element.cantidad}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>

          <ng-container matColumnDef="codigo">
            <mat-header-cell  *matHeaderCellDef > COD </mat-header-cell>
            <mat-cell *matCellDef="let element" >
               {{element.codigo}} </mat-cell>
               <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>

          <ng-container matColumnDef="producto">
            <mat-header-cell  *matHeaderCellDef > PRODUCTO </mat-header-cell>
            <mat-cell *matCellDef="let element"
            > {{element.producto}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>

          <ng-container matColumnDef="descripcion">
            <mat-header-cell  *matHeaderCellDef> DESCRIPCION </mat-header-cell>
            <mat-cell *matCellDef="let element"
            > {{element.descripcion}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>

          <ng-container matColumnDef="precio">
            <mat-header-cell  *matHeaderCellDef > PRECIO U.</mat-header-cell>
            <mat-cell *matCellDef="let element"
            > {{element.precio | currency:"S/"}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>Total:</mat-footer-cell>

          </ng-container>

          <ng-container matColumnDef="subtotal">
            <mat-header-cell  *matHeaderCellDef > SUBTOTAL </mat-header-cell>
            <mat-cell *matCellDef="let element"
            > {{element.total | currency:"S/"}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>{{getTotal() | currency:"S/"}}</mat-footer-cell>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <mat-header-cell  *matHeaderCellDef > OPCIONES </mat-header-cell>
            <mat-cell *matCellDef="let element" style="justify-content: center;">
            <a (click)="deleteRow(element)" style="cursor: pointer;">
              <mat-icon>close</mat-icon>
            </a>
            </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>
          </ng-container>


        <mat-header-row *matHeaderRowDef="columnaProducto"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnaProducto;"></mat-row>
        <mat-footer-row *matFooterRowDef="columnaProducto" [ngClass]="{'hide':!(listDataProducto.data.length>0)}"></mat-footer-row>

      </mat-table>
    </div>
  </div>
</div>
</form>
