
<form  #productoForm ="ngForm" (ngSubmit)="addProducto(productoForm)">
  <input type="hidden" #id_producto="ngModel" [(ngModel)]="productoSeleccion.id_producto" name="id_producto">
  <mat-form-field color="warn" style="width: 200px;">
    <mat-label>Categoría</mat-label>
    <mat-select  id="id_categoria" name="id_categoria" #id_categoria="ngModel"
    #categoria (selectionChange)="getTipoXCategoria(categoria.value)"
    [(ngModel)]="productoSeleccion.id_categoria">
      <mat-option *ngFor="let cat of categorias"
      [value]="cat.id_categoria">
        {{cat.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="warn" style="margin-left: 10%;width: 200px;">
    <mat-label>Tipo de producto / servicio</mat-label>
    <mat-select  id="id_tipo_producto" name="id_tipo_producto"
    #tipo (selectionChange)="getMarcaXTipo(tipo.value)" #id_tipo_producto="ngModel"
    [(ngModel)]="productoSeleccion.id_tipo_producto">
      <mat-option *ngFor="let tip of tipos" [value]="tip.id_tipo_producto">
        {{tip.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field color="warn" style="margin-left: 10%;width: 200px;">
    <mat-label>Marca</mat-label>
    <mat-select  id="id_marca" name="id_marca" #id_marca="ngModel"
    [(ngModel)]="productoSeleccion.id_marca">
      <mat-option *ngFor="let mar of marca" [value]="mar.id_marca">
        {{mar.nombre}}
      </mat-option>
    </mat-select>
    <mat-hint align="start" style="color: #f44336 !important;">Seleccione KTECH sí el tipo es servicio.</mat-hint>
  </mat-form-field>
  <mat-form-field color="warn" class="example-form-field"
            style="margin-top: 15px;">
    <mat-label>Nombre del producto/servicio</mat-label>
    <input matInput type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="productoSeleccion.descripcion" autocomplete="off">
  </mat-form-field>
  <mat-form-field color="warn" class="example-form-field"
            style="margin-left: 10%;margin-top: 15px;">
    <mat-label>Modelo</mat-label>
    <input matInput type="text" name="modelo" #modelo="ngModel"
    [(ngModel)]="productoSeleccion.modelo" autocomplete="off">
    <mat-hint align="start" style="color: #f44336 !important;">Ingrese modelo solo si es producto.</mat-hint>
  </mat-form-field>
  <mat-form-field color="warn" class="example-form-field"
            style="margin-left: 10%;margin-top: 15px;">
    <mat-label>Serie</mat-label>
    <input matInput type="text" name="serie" #serie="ngModel"
    [(ngModel)]="productoSeleccion.serie" autocomplete="off">
    <mat-hint align="start" style="color: #f44336 !important;">Ingrese serie solo si es producto.</mat-hint>
  </mat-form-field>
  <mat-form-field color="warn" class="example-form-field"
            style="margin-top: 15px;">
    <mat-label>Precio</mat-label>
    <input matInput type="text" name="precio" #nombre="ngModel" [(ngModel)]="productoSeleccion.precio" autocomplete="off">
  </mat-form-field>

  <mat-form-field color="warn" class="example-form-field"
            style="margin-top: 10px;width: 100%;">
    <mat-label>Detalle del producto ó servicio</mat-label>
    <textarea matInput name="detalle"
    rows="10"
    maxlength="500" #message
    #detalle="ngModel" [(ngModel)]="productoSeleccion.detalle">
    </textarea>
    <mat-hint align="start">Escribe detalle o caracteristicas sobre el producto ó servicio.</mat-hint>
    <mat-hint align="end">{{message.value.length}}/500</mat-hint>

  </mat-form-field>
  <div style="margin-top: 10px;">
    <button type="submit" mat-raised-button >Registrar</button>
    <button type="button" style="float: right;" color="warn" mat-raised-button (click)="cerrarVentana()">Cerrar</button>
  </div>

</form>
